<template name="drawingPresentation">
	<div class="row">
		<div class="title"><h2>{{game}}</h2></div>
		<div class="col-xs-12 col-sm-8">
			<div class="verticalLine">
				<div class="row">
					<p>{{weekday}}, {{display_date}}</p>
					<div class="col-xs-12">
						{{#each normal_balls}}
							<div class="numberCircle inlineBlock">{{normal_ball}}</div>
						{{/each}}
					</div>		
					<div class="col-xs-12">
						{{#each special_balls}}
							<div class="numberCircleSpecial inlineBlock">{{special_ball}}</div>
						{{/each}}
					</div>
				</div>
				<h2>{{prize}}</h2>{{#if no_next_rollover}}(JACKPOT){{/if}}
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div>
			<p><h3>Next Draw</h3></p>
				{{#if has_next_date}}
					 Date: {{next_date}}
				{{else}}
					<p>Date: To be announced</p>
				{{/if}}
				{{#if has_next_prize}}
					<p>Prize: {{next_prize}}</p>
					{{#if has_next_rollover}}
						<p>Roll Over: {{next_rollover}}</p>
					{{/if}}
				{{else}}
					<p>Prize: To be announced</p>
				{{/if}}
			</div>
		</div>
	</div>

</template>