<template name = "homePage">
	<header class="jumbotron">
		<div class="container">
			<div class="row row-header">
				<div class="col-xs-12 horizontal_align vertical_align">
					<h2>Lottery Mania</h2>
				</div>	
			</div>	
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-xs-11 col-sm-8">
				<div class = "recent_drawings verticalLine">
					{{#each recentDrawings}}
						{{> drawingPresentation}}
					{{/each}}
					</div>
			</div>
		</div>
	</div>
	
</template>